<ng-template #moviesByCategory>
    <div style="display: block;">filter</div>
    <div class="films">
      <div class="film" *ngFor="let film of (filmsProvider | async)?.results">
        <img class="film-poster" [src]="'https://image.tmdb.org/t/p/w500' + film.poster_path" alt="">
      </div>
    </div>
</ng-template>

<ng-template #searchFilmCategory>
  <div>search-bar</div>
  search
  <ng-container *ngIf="foundFilm">
    <div *ngFor="let film of (filmsProvider | async)?.results">
      <img class="film-poster" [src]="'https://image.tmdb.org/t/p/w500' + film.poster_path" alt="">
    </div>
  </ng-container>
</ng-template>

<div class="section-films" *ngIf="sectionSelected !== 'search-film'">
  <ng-container *ngTemplateOutlet="moviesByCategory"></ng-container>
</div>

<div class="section-films" *ngIf="sectionSelected === 'search-film'">
  <ng-container *ngTemplateOutlet="searchFilmCategory"></ng-container>
</div>
