:host {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}

.menu-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #000;
  color: white;
  .sections-container{
    padding: 0 20px;
    height: 100%;
    display: flex;
    flex: 1 0 0;
    align-items: center;
    .section {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      height: 100%;
      padding: 10px;
      cursor: pointer;
    }
  }
}
